////////////////////////////////
// Helper Classes
////////////////////////////////

// Greys
.lighter-grey-bg { background: $lighter-grey-bg; }
.light-grey-bg { background: $light-grey-bg; }
.dark-grey-bg { background: $dark-grey-bg; }
.grey-bg { background: $grey-bg; }

// Reds
.light-red-bg { background: $light-red-bg; }
.dark-red-bg { background: $dark-red-bg; }
.red-bg { background: $red-bg; }

// Blues
.light-blue-bg { background: $light-blue-bg; }
.dark-blue-bg { background: $dark-blue-bg; }
.blue-bg { background: $blue-bg; }

// Mint Greens
.light-mint-green-bg { background: $light-mint-green-bg; }
.dark-mint-green-bg { background: $dark-mint-green-bg; }
.mint-green-bg { background: $mint-green-bg; }

// Purples
.light-purple-bg { background: $light-purple-bg; }
.dark-purple-bg { background: $dark-purple-bg; }
.purple-bg { background: $purple-bg; }

