////////////////////////////////
// Content CSS
////////////////////////////////
.content-wrap {
	width: 100%;
	padding-top: $nav-height;
	height: 100%;
}
////////////////////////////////
// Headings
////////////////////////////////
h1 {
	font-family: $raleway;
	font-size: $h1-font-size;
	line-height: $h1-font-size;
	color: $h1-color;
}
h2 {
	font-family: $raleway;
	font-size: $h2-font-size;
	font-weight: 400;
	line-height: $h2-font-size;
	color: $h2-color;
}
h3 {
	font-family: $raleway;
	font-size: $h3-font-size;
	font-weight: 300;
	line-height: $h3-font-size;
	color: $h3-color;
}
h4 {
	font-family: $raleway;
	font-size: $h4-font-size;
	font-weight: 300;
	line-height: $h4-font-size;
	color: $h4-color;
}
h5 {
	font-family: $raleway;
	font-size: $h5-font-size;
	font-weight: 300;
	line-height: $h5-font-size;
	color: $h5-color;
}
h6 {
	font-family: $raleway;
	font-size: $h6-font-size;
	font-weight: 300;
	line-height: $h6-font-size;
	color: $h6-color;
}
p {
	font-family: $raleway;
	font-size: $p-font-size;
	font-weight: 300;
	line-height: $p-line-height;
	color: #555;
	padding: ($p-line-height / 2) 0;
}
ul {
	list-style-type: none;
}
li {
	font-family: $raleway;
	font-size: $p-font-size;
	font-weight: 300;
	line-height: $p-line-height;
	color: #555;
	padding: ($p-line-height / 2) 0;
}
a {
	color: $a-color;
	font-family: inherit;
	font-size: inherit;
	font-weight: 500;
	line-height: inherit;
}

section {
	position: relative;
	z-index: 50;
	background: $body-background;
}

////////////////////////////////
// Headlines
////////////////////////////////
.headline {
	&.full-width {
		width: 100%;
		height: 700px;
		background: $headline-background;
		@include background-size(100%);
		.wrap { height: inherit; display: table; text-align: center; }
		.inner-wrap { display: table-cell; vertical-align: middle; }
		h1 {
			text-align: left;
			font-family: $nunito;
			font-weight: 300;
			font-size: 30px;
			line-height: 30px;
			letter-spacing: 3px;
			color: #fff;
			text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
			text-transform: uppercase;
			span { text-shadow: 1px 1px 5px rgba(0,0,0,0.4); display: block; letter-spacing: 0px; font-family: $nunito; font-size: 60px; font-weight: 300; line-height: 60px; text-transform: lowercase; }
		}
		.button {
			font-family: $raleway;
			font-weight: 400;
			font-size: 15px;
			line-height: 18px;
			padding: 12px 20px;
			color: $headline-button-color;
			background: #fff;
			@include border-radius(3px);
			text-transform: uppercase;
			letter-spacing: 0px;
			text-shadow: none;
			margin-top: 40px;
			float: left;
			&:hover {
				background: $headline-button-color;
				text-decoration: none;
				color: #fff;
			}
		}
	}
}
.headline.bg-1 { background: $headline-background-1; }
.headline.bg-2 { background: $headline-background-2; }
.headline.bg-3 { background: $headline-background-3; }
.headline.bg-4 { background: $headline-background-4; }
.headline.bg-5 { background: $headline-background-5; }
.headline.bg-6 { background: $headline-background-6; }
.full-width.headline-right {
	h1 {
		text-align: right;
	}
	.button { float: right; }
}
.full-width.headline-center {
	h1 {
		text-align: center;
	}
	.button { float: none; margin: 40px auto 0 auto; display: inline-block; }
}
.headline-small {
	&.full-width {
		width: 100%;
		height: $headline-small-height;
		background: $headline-small-background;
		@include background-size(100%);
		.wrap { height: inherit; display: table; text-align: center; }
		.inner-wrap { display: table-cell; vertical-align: middle; }
		h3 { color: #fff; font-weight: 100; font-size: 30px; line-height: 30px; letter-spacing: 1px; }
		h1 {
			text-align: left;
			font-family: $nunito;
			font-weight: 300;
			font-size: 30px;
			line-height: 30px;
			letter-spacing: 3px;
			color: #fff;
			text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
			text-transform: uppercase;
			span { text-shadow: 1px 1px 5px rgba(0,0,0,0.4); display: block; letter-spacing: 0px; font-family: $nunito; font-size: 60px; font-weight: 300; line-height: 60px; text-transform: lowercase; }
		}
		.button {
			font-family: $raleway;
			font-weight: 400;
			font-size: 15px;
			line-height: 18px;
			padding: 12px 20px;
			color: $headline-button-color;
			background: #fff;
			@include border-radius(3px);
			text-transform: uppercase;
			letter-spacing: 0px;
			text-shadow: none;
			margin-top: 40px;
			float: left;
			&:hover {
				background: $headline-button-color;
				text-decoration: none;
				color: #fff;
			}
		}
	}
}
.headline-small.full-width.bs-auto { @include background-size(auto); }

////////////////////////////////
// Parallax
////////////////////////////////
.parallax {
	position: absolute;
	top: 0; left: 0; z-index: 10;
	@include set-transition(top 0s);
	@include set-transform(translate3d(0,0,0));
}
.parallax-wrap {
	width: 100%;
	overflow: hidden;
	position: absolute; left: 0;
	z-index: 10;
}
.parallax-1 { z-index: 10; }
.parallax-2 { z-index: 11; }
.parallax-3 { z-index: 8; }
////////////////////////////////
// Halves
////////////////////////////////
.halves-full-width {
	width: 100%;
	clear: both;
	&:after {
		content: '';
		width: 100%;
		height: $halves-padding;
		display: block;
		clear: both;
	}
	h1 {
		text-align: center;
		padding: $halves-padding 0 ($halves-padding / 1.5) 0;
	}
	.section {
		width: 50%;
		float: left;
		text-align: center;
		@include box-sizing(border-box);
		padding: 0 20px;
		&:nth-of-type(2n+1) {
			clear: both;
		}
		&:nth-of-type(n+3) {
			margin-top: ($p-line-height / 2);
		}
		i { 
			display: block; font-size: 30px; color: $halves-icon-color; 
			width: 70px; height: 70px; @include border-radius(35px);
			line-height: 70px;
			border: 1px solid $halves-icon-color;
			margin: 0 auto 0 auto;
		}
		h2 {
			padding: ($p-line-height / 2) 0 0 0;
			color: $halves-h2-color;
		}
	}
}
////////////////////////////////
// Thirds
////////////////////////////////
.thirds-full-width {
	width: 100%;
	clear: both;
	&:after {
		content: '';
		width: 100%;
		height: $thirds-padding;
		display: block;
		clear: both;
	}
	h1 {
		text-align: center;
		padding: $thirds-padding 0 ($thirds-padding / 1.5) 0;
	}
	h3 {
		padding: $thirds-h3-padding 0 $thirds-h3-padding 0;
	}
	.section {
		width: 33.33%;
		float: left;
		text-align: center;
		@include box-sizing(border-box);
		padding: 0 20px;
		min-height: 1px;
		&:nth-of-type(4n) {
			clear: both;
		}
		&:nth-of-type(n+4) {
			margin-top: ($p-line-height / 2);
		}
		i { 
			display: block; font-size: 30px; color: $third-icon-color; 
			width: 70px; height: 70px; @include border-radius(35px);
			line-height: 70px;
			border: 1px solid $third-icon-color;
			margin: 0 auto 0 auto;
		}
		h2 {
			padding: ($p-line-height / 2) 0 0 0;
			color: $third-h2-color;
		}
	}
}
.row-top-padding.thirds-full-width {
	&:before {
		content: '';
		width: 100%;
		height: $thirds-padding;
		display: block;
		clear: both;
	}
}
////////////////////////////////
// Fourths
////////////////////////////////
.fourths-full-width {
	width: 100%;
	clear: both;
	&:after {
		content: '';
		width: 100%;
		height: $fourths-padding;
		display: block;
		clear: both;
	}
	h1 {
		text-align: center;
		padding: $fourths-padding 0 ($fourths-padding / 1.5) 0;
	}
	h3 {
		padding: $fourths-h3-padding 0 $fourths-h3-padding 0;
	}
	.section {
		width: 25%;
		float: left;
		text-align: center;
		@include box-sizing(border-box);
		padding: 0 20px;
		&:nth-of-type(5n) {
			clear: both;
		}
		&:nth-of-type(n+5) {
			margin-top: ($p-line-height / 2);
		}
		i { 
			display: block; font-size: 30px; color: $fourths-icon-color; 
			width: 70px; height: 70px; @include border-radius(35px);
			line-height: 70px;
			border: 1px solid $fourths-icon-color;
			margin: 0 auto 0 auto;
		}
		h2 {
			padding: ($p-line-height / 2) 0 0 0;
			color: $fourths-h2-color;
		}
	}
}
////////////////////////////////
// Fifths
////////////////////////////////
.fifths-full-width {
	width: 100%;
	clear: both;
	&:after {
		content: '';
		width: 100%;
		height: $fifths-padding;
		display: block;
		clear: both;
	}
	h1 {
		text-align: center;
		padding: $fifths-padding 0 ($fifths-padding / 1.5) 0;
	}
	.section {
		width: 20%;
		float: left;
		text-align: center;
		@include box-sizing(border-box);
		padding: 0 20px;
		&:nth-of-type(5n) {
			clear: both;
		}
		&:nth-of-type(n+5) {
			margin-top: ($p-line-height / 2);
		}
		i { 
			display: block; font-size: 30px; color: $fifths-icon-color; 
			width: 70px; height: 70px; @include border-radius(35px);
			line-height: 70px;
			border: 1px solid $fifths-icon-color;
			margin: 0 auto 0 auto;
		}
		h2 {
			padding: ($p-line-height / 2) 0 0 0;
			color: $fifths-h2-color;
		}
	}
}
////////////////////////////////
// Sixths
////////////////////////////////
.sixths-full-width {
	width: 100%;
	clear: both;
	&:after {
		content: '';
		width: 100%;
		height: $sixths-padding;
		display: block;
		clear: both;
	}
	h1 {
		text-align: center;
		padding: $sixths-padding 0 ($sixths-padding / 1.5) 0;
	}
	.section {
		width: 16.6666%;
		float: left;
		text-align: center;
		@include box-sizing(border-box);
		padding: 0 20px;
		&:nth-of-type(5n) {
			clear: both;
		}
		&:nth-of-type(n+5) {
			margin-top: ($p-line-height / 2);
		}
		i { 
			display: block; font-size: 30px; color: $sixths-icon-color; 
			width: 70px; height: 70px; @include border-radius(35px);
			line-height: 70px;
			border: 1px solid $sixths-icon-color;
			margin: 0 auto 0 auto;
		}
		h2 {
			padding: ($p-line-height / 2) 0 0 0;
			color: $sixths-h2-color;
		}
	}
}
////////////////////////////////
// Full Width Sections
////////////////////////////////
.one-full-width {
	width: 100%;
	clear: both;
	&:after {
		content: '';
		width: 100%;
		height: $sixths-padding;
		display: block;
		clear: both;
	}
	h1 {
		text-align: center;
		padding: $sixths-padding 0 ($sixths-padding / 1.5) 0;
	}
	.section {
		width: 100%;
		float: left;
		text-align: center;
		@include box-sizing(border-box);
		padding: 0 20px;
		&:nth-of-type(2n) {
			clear: both;
		}
		&:nth-of-type(n+1) {
			margin-top: ($p-line-height / 2);
		}
		i { 
			display: block; font-size: 30px; color: $sixths-icon-color; 
			width: 70px; height: 70px; @include border-radius(35px);
			line-height: 70px;
			border: 1px solid $sixths-icon-color;
			margin: 0 auto 0 auto;
		}
		h2 {
			padding: ($p-line-height / 2) 0 0 0;
			color: $sixths-h2-color;
		}
	}
}


////////////////////////////////
// Section
////////////////////////////////
.section { min-height: 1px; }

////////////////////////////////
// Slider
////////////////////////////////
.slider.full-width {
	width: 100%;
	height: $slider-height;
	clear: both;
	position: relative;
	overflow: hidden;
	.wrap { height: inherit; display: table; text-align: center; }
	.inner-wrap { display: table-cell; vertical-align: middle; }
	&:hover {
		#prev-button, #next-button {
			visibility: visible;
			opacity: 1.0;
			top: 50%;
		}
		#slider-controls-wrap {
			visibility: visible;
			opacity: 1.0;
			bottom: 0px;
		}
	}
	h1 {
		text-align: left;
		font-family: $nunito;
		font-weight: 300;
		font-size: 30px;
		line-height: 30px;
		letter-spacing: 3px;
		color: #fff;
		text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
		text-transform: uppercase;
		span { text-shadow: 1px 1px 5px rgba(0,0,0,0.4); display: block; letter-spacing: 0px; font-family: $nunito; font-size: 60px; font-weight: 300; line-height: 60px; text-transform: lowercase; }
	}
	h2 {
		text-align: left;
		font-family: $nunito;
		font-weight: 300;
		font-size: 28px;
		line-height: 28px;
		letter-spacing: 3px;
		color: #fff;
		text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
		text-transform: uppercase;
		span { 
			text-shadow: 1px 1px 5px rgba(0,0,0,0.4); 
			display: block; 
			letter-spacing: 0px; 
			font-family: $nunito; 
			font-size: 50px; 
			font-weight: 300; 
			line-height: 50px;
			text-transform: lowercase;
		}
	}
	.button {
		font-family: $raleway;
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;
		padding: 12px 20px;
		color: $headline-button-color;
		background: #fff;
		@include border-radius(3px);
		text-transform: uppercase;
		letter-spacing: 0px;
		text-shadow: none;
		margin-top: 30px;
		float: left;
		&:hover {
			background: $headline-button-color;
			text-decoration: none;
			color: #fff;
		}
	}
}
.slider.full-width.slider-right {
	h1, h2 { text-align: right; }
	.button { float: right; }
}
.slider.full-width.slider-center {
	h1, h2 { text-align: center; }
	.button { float: none; margin: 30px auto 0 auto; display: inline-block; }
}
.slide, #next-slide {
	position: absolute; top: 0; left: 0; z-index: 1;
	width: 100%; height: 100%;
	@include background-size(100%);
	h1 {}
}
.slide-1 { background: $slide-1-background; z-index: 11; @include background-size(100%); }
.slide-2 { background: $slide-2-background; z-index: 10; @include background-size(100%); }
.slide-3 { background: $slide-3-background; z-index: 9; @include background-size(100%); }
.slide-4 { background: $slide-4-background; z-index: 8; @include background-size(100%); }
.slide-5 { background: $slide-5-background; z-index: 7; @include background-size(100%); }
.slide-6 { background: $slide-6-background; z-index: 6; @include background-size(100%); }
.slide-7 { background: $slide-7-background; z-index: 5; @include background-size(100%); }
.slide-8 { background: $slide-8-background; z-index: 4; @include background-size(100%); }
.slide-9 { background: $slide-9-background; z-index: 3; @include background-size(100%); }
.slide-10 { background: $slide-10-background; z-index: 2; @include background-size(100%); }
.slider-bg-size { @include background-size(100%); }
#prev-button, #next-button {
	font-size: 30px; line-height: 40px; text-align: center;
	width: 40px;
	height: 40px;
	@include border-radius(20px);
	position: relative; top: 54%;
	border: 1px solid #fff;
	color: #fff;
	visibility: hidden;
	opacity: 0.0;
	z-index: 150;
	@include set-transition(all 0.3s ease);
	@include set-transform(translate3d(0,0,0));
	&:hover { cursor: pointer; color: $deep-blue; background: #fff; }
}
#prev-button {
	float: left;
	margin: -20px 0 0 10px;
	i { position: relative; left: -2px; }
}
#next-button {
	float: right;
	margin: -20px 10px 0 0;
	i { position: relative; left: 1px; }
}
#slider-controls-wrap {
	position: absolute;
	bottom: -30px;
	visibility: hidden;
	opacity: 0.0;
	z-index: 150;
	text-align: center;
	width: 100%;
	height: 30px;
	@include set-transition(all 0.3s ease 0.15s);
	.slider-control {
		opacity: 0.4;
		font-size: 40px;
		color: $deep-blue;
		line-height: 30px;
		padding: 0 2px; 
		&:hover { cursor: pointer; opacity: 1.0; }
	}
	.active { opacity: 1.0; }
}
#slider-controls-inner-wrap {
	height: 30px;
	text-align: center;
	background: #fff;
	background: rgba(255,255,255,0.75);
}

////////////////////////////////
// Page Headlines
////////////////////////////////
.page-headline {
	&.full-width {
		width: 100%;
		height: $page-headline-height;
		background: $page-headline-background;
		@include background-size(100%);
		.wrap { height: inherit; display: table; text-align: center; }
		.inner-wrap { display: table-cell; vertical-align: middle; }
		h1 {
			text-align: right;
			font-family: $raleway;
			font-weight: 100;
			font-size: 28px;
			line-height: 28px;
			color: #fff;
			text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
			text-transform: uppercase;
			span { text-shadow: 1px 1px 5px rgba(0,0,0,0.4); display: block; letter-spacing: 0px; font-family: $nunito; font-size: 60px; font-weight: 300; line-height: 60px; text-transform: lowercase; }
		}
		.button {
			font-family: $raleway;
			font-weight: 400;
			font-size: 15px;
			line-height: 18px;
			padding: 12px 20px;
			color: $page-headline-button-color;
			background: #fff;
			@include border-radius(3px);
			text-transform: uppercase;
			letter-spacing: 0px;
			text-shadow: none;
			margin-top: 40px;
			float: left;
			&:hover {
				background: $page-headline-button-color;
				text-decoration: none;
				color: #fff;
			}
		}
	}
}
.page-headline.bg-1 { background: $page-headline-background-1; }
.page-headline.bg-2 { background: $page-headline-background-2; }
.page-headline.bg-3 { background: $page-headline-background-3; }
.page-headline.bg-4 { background: $page-headline-background-4; }
.page-headline.bg-5 { background: $page-headline-background-5; }
.page-headline.bg-6 { background: $page-headline-background-6; }
.full-width.page-headline-right {
	h1 {
		text-align: right;
	}
	.button { float: right; }
}
.full-width.page-headline-center {
	h1 {
		text-align: center;
	}
	.button { float: none; margin: 40px auto 0 auto; display: inline-block; }
}


////////////////////////////////
// Content Section
////////////////////////////////
.content-section.full-width {
	width: 100%;
	background: $content-section-background;
	&:after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		clear: both;
	}
	.inner-wrap { width: 100%; }
}












////////////////////////////////
// Content Block
////////////////////////////////
.content-block {
	width: 70%;
	&:after, &:before {
		content: '';
		width: 100%;
		height: $content-block-padding;
		display: block;
		clear: both;
	}
	.wrap, .inner-wrap { width: 100%; @include box-sizing(border-box); }
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
	}
	h1 {
		padding: 0 0 $p-line-height 0;
	}
	h2 {
		padding: ($p-line-height / 2) 0 0 0;
	}
}
.content-block.full-width {
	width: 100%;
}
.content-block.content-block-left {
	width: 70%; float: left;
	.wrap {	padding-right: 30px; }
}
.content-block.content-block-right {
	width: 70%; float: right;
	.wrap {	padding-left: 30px; }
}
.content-block.content-block-middle {
	width: 50%; float: left;
	.wrap { padding: 0 30px; }
}




////////////////////////////////
// Side-bar
////////////////////////////////
.side-bar {
	width: 30%;
	@include box-sizing(border-box);
	&:after, &:before {
		content: '';
		width: 100%;
		height: $side-bar-padding;
		display: block;
		clear: both;
	}
	.wrap, .inner-wrap { width: 100%; @include box-sizing(border-box); }
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
	}
	h1 {
		padding: 0 0 $p-line-height 0;
	}
	h2 {
		padding: ($p-line-height / 2) 0 0 0;
	}
}
.side-bar.side-bar-right {
	width: 30%;
	float: right;
}
.side-bar.side-bar-left {
	width: 30%;
	float: left;
}
.side-bar.side-bar-middle-left {
	width: 25%;
	float: left;
}
.side-bar.side-bar-middle-right {
	width: 25%;
	float: right;
}

////////////////////////////////
// Divider
////////////////////////////////
.divider {
	width: 80%;
	height: 1px;
	background: $divider-background;
	margin: ($divider-padding - 1) auto ($divider-padding + ($divider-padding / 2)) auto;
}
.title-divider {
	width: 20%;
	background: $title-divider-background;
	margin: ($p-line-height / 2) auto 0 auto;
}



////////////////////////////////
// Form
////////////////////////////////
form {
	display: block;
	// padding: $form-padding 0;
	h2 {
		padding: 0 0 $form-h2-padding 0;
	}
	label {
		display: block;
		font-size: 14px;
		font-weight: 400;
		color: #777;
		line-height: 14px;
		padding-bottom: 5px;
	}
	input, textarea {
		width: 100%;
		@include border-radius(3px);
		border: 1px solid $input-border-color;
		// @include box-shadow(0px 1px $input-border-color);
		outline: none;
		background: transparent;
		line-height: $input-font-size;
		font-size: $input-font-size;
		color: #555;
		height: 34px;
		@include set-transition(all 0.2s);
		@include box-sizing(border-box);
		padding: 10px 4px;
		&:focus {
			border: 1px solid $input-border-color-hover;
			// @include box-shadow(0px 1px $input-border-color-hover);
		}
	}
	textarea {
		resize: none;
		height: 34px * 4;
		line-height: 24px;
		padding: 4px;
	}
	button[type="submit"] {
		display: inline-block;
		@include border-radius(3px);
		border: 1px solid $submit-border-color;
		// @include box-shadow(0px 1px $input-border-color);
		outline: none;
		background: transparent;
		line-height: $input-font-size;
		font-size: $input-font-size;
		color: $submit-border-color;
		text-transform: uppercase;
		height: 34px;
		@include set-transition(all 0.2s);
		@include box-sizing(border-box);
		padding: 10px 24px;
		&:hover {
			border: 1px solid $submit-border-color-hover;
			background: $submit-border-color-hover;
			color: #fff;
		}
	}
}
.field-wrap {
	padding: $field-wrap-padding-top 0 0 0;
	width: 80%;
}
.error {
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	color: red;
	display: none;
}
.form-target {
	width: 0;
	height: 0;
	border: 0;
	position: absolute;
	left: -10000px;
	top: -10000px;
}

////////////////////////////////
// Contact Sidebar
////////////////////////////////
.contact-sidebar {
	// padding: $form-padding 0;
	h2 {
		padding: 0 0 $form-h2-padding 0;
	}
	i {
		width: 24px;
		text-align: center;
	}
}





////////////////////////////////
// Images
////////////////////////////////
img {
	max-width: 100%;
	height: auto;
}


////////////////////////////////
// Buttons
////////////////////////////////
.button-wrap {
	a {
		display: inline-block;
		font-family: $raleway;
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;
		padding: 12px 20px;
		color: $button-color;
		background: transparent;
		@include border-radius(3px);
		text-transform: uppercase;
		letter-spacing: 0px;
		text-shadow: none;
		border: 1px solid $button-color;
		&:hover {
			background: $button-color;
			text-decoration: none;
			color: #fff;
		}
	}
}
.button-wrap.white {
	a {
		color: #fff;
		border: 1px solid #fff;
		&:hover {
			background: #fff;
			color: $button-color;
		}
	}
}




