////////////////////////////////
// Footer CSS
////////////////////////////////
footer {
	position: relative;
	z-index: 150;
	clear: both;
	width: 100%;
	min-height: 100px;
	background: $footer-background;
}
.footer-title {
	display: none;
}
#footer {
	section {
		background: $footer-section-background;
	}
	.section {
		text-align: left;
	}
	.copyright {
		text-align: center;
		color: #777;
		font-size: 12px;
		line-height: 18px;
	}
	.textwidget {
		padding-top: $footer-padding;
	}
	h6 {
		color: $footer-h6-color;
		font-weight: 500;
		font-size: 16px;
		line-height: 16px;
		&:after {
			content: '';
			height: 1px;
			width: 40%;
			display: block;
			background: #fff;
			opacity: 0.4;
			margin: 10px 0;
		}
	}
	a {
		color: $footer-link-color;
		font-size: 14px;
		line-height: 14px;
		font-weight: 300;
		letter-spacing: 1px;
		&:hover {
			color: #fff;
		}
	}
	.thirds-full-width:after {
		height: 30px;
	}
	li {
		padding: $footer-link-padding;
	}
	i {
		display: inline-block;
		border: none;
		width: 18px;
		height: auto;
		line-height: 24px;
		font-size: 20px;
		text-align: center;
		vertical-align: middle;
	}
	.fa-envelope-o { font-size: 16px; }
	.fa-mobile-phone { font-size: 22px; }
	p {
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		color: $footer-link-color;
		padding: 0;
	}
	.social-bar {
		a {
			display: inline-block;
			margin-right: 5px;
			i {
				display: block;
				float: left;
				width: 40px;
				height: 40px;
				line-height: 40px;
				border: 1px solid $fourths-icon-color;
				@include border-radius(20px);
				@include set-transition(all 0.2s ease);
			}
			&:hover {
				i {
					background: $fourths-icon-color;
					color: #fff;
				}
			}
		}
	}
}
