////////////////////////////////
// Helper Classes
////////////////////////////////

// Greys
.lighter-grey-bg { background: $lighter-grey-bg; }
.light-grey-bg { background: $light-grey-bg; }
.dark-grey-bg { background: $dark-grey-bg; }
.grey-bg { background: $grey-bg; }

// Reds
.light-red-bg { background: $light-red-bg; }
.dark-red-bg { background: $dark-red-bg; }
.red-bg { background: $red-bg; }

// Blues
.light-blue-bg { background: $light-blue-bg; }
.dark-blue-bg { background: $dark-blue-bg; }
.blue-bg { background: $blue-bg; }

// Mint Greens
.light-mint-green-bg { background: $light-mint-green-bg; }
.dark-mint-green-bg { background: $dark-mint-green-bg; }
.mint-green-bg { background: $mint-green-bg; }

// Purples
.light-purple-bg { background: $light-purple-bg; }
.dark-purple-bg { background: $dark-purple-bg; }
.purple-bg { background: $purple-bg; }



// Padding
.no-padding { padding: 0 !important; }
.no-margin { margin: 0 !important; }
.no-top-bottom-margin { margin-top: 0px !important; margin-bottom: 0px !important; }
.no-top-margin { margin-top: 0 !important; }
.match-margins { margin-top: ($p-line-height / 2) !important; margin-bottom: ($p-line-height / 2) !important; }
.match-bottom-margin { margin-bottom: ($p-line-height / 2) !important; }
.no-pseudo-margin {
	&:before { display: none !important; }
	&:after { display: none !important; }
}





.row-top-padding.halves-full-width {
	&:before {
		content: '';
		width: 100%;
		height: $halves-padding;
		display: block;
		clear: both;
	}
}
.row-top-padding.thirds-full-width {
	&:before {
		content: '';
		width: 100%;
		height: $thirds-padding;
		display: block;
		clear: both;
	}
}
.row-top-padding.fourths-full-width {
	&:before {
		content: '';
		width: 100%;
		height: $fourths-padding;
		display: block;
		clear: both;
	}
}
.row-top-padding.fifths-full-width {
	&:before {
		content: '';
		width: 100%;
		height: $fifths-padding;
		display: block;
		clear: both;
	}
}
.row-top-padding.sixths-full-width {
	&:before {
		content: '';
		width: 100%;
		height: $sixths-padding;
		display: block;
		clear: both;
	}
}
