////////////////////////////////
// Nav CSS
////////////////////////////////
nav {
	width: 100%;
	height: $nav-height;
	position: $nav-position;
	top: 0; left: 0;
	z-index: 1000;
	@include set-transition(all 0.25s ease);
	background: $nav-background;
	border-bottom: 1px solid $nav-border;
	ul {
		list-style-type: none;
		float: right;
		display: table;
		height: $nav-height;
		li {
			float: left;
			margin-left: 40px;
			line-height: $nav-height;
			padding: 0;
			&:first-child { margin-left: 0; }
		}
		a {
			font-family: $raleway;
			font-weight: 400;
			font-size: 15px;
			text-transform: uppercase;
			color: $nav-link-color;
			line-height: 15px;
			letter-spacing: 1px;
			@include set-transition(all 0.25s ease 0.2s);
			&:hover { color: $nav-link-color-hover; text-decoration: none; }
		}
	}
}
#nav-logo {
	font-family: $nunito;
	font-weight: 700;
	font-size: 25px;
	line-height: $nav-height;
	display: block;
	float: left;
	opacity: 0.75;
	text-transform: uppercase;
	color: $deep-blue;
	&:before { content: '.'; }
	span { text-transform: lowercase;
		font-weight: 400;
		&:before { content: ' {'; }
		&:after { content: '}'; }
	}
	&:hover { text-decoration: none; opacity: 0.85; }
}
#r-nav { display: none; }
#r-nav-open {
	width: 40px;
	height: 40px;
	float: right;
	@include border-radius(20px);
	border: 1px solid $red;
	color: $red;
	margin-top: (($nav-height - 40) / 2);
	display: inline-block;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	i {
	}
}
#r-nav-close {
	font-family: $raleway;
	font-size: 14px;
	font-weight: 300;
	line-height: 30px;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	top: (($nav-height - 40) / 2);
	right: 2.5%;
	border: 0;
	vertical-align: middle;
	i {
		font-size: 16px;
		width: 30px;
		height: 30px;
		@include border-radius(15px);
		border: 1px solid #fff;
		color: #fff;
		text-align: center;
		vertical-align: middle;
		display: inline-block;
		line-height: 30px;
	}
}
#r-nav-menu { 
	display: table;
	width: 100%;
	height: 100%;
	background: $r-nav-menu-background;
	position: fixed;
	top: 0; left: -10000px;
	z-index: 1001;
	@include set-transition(opacity 0.4s ease);
	opacity: 0.0;
	.menu-nav-menu-container {
		display: table-cell;
		vertical-align: middle;
	}
	ul {
		text-align: center;
		@include set-transition(all 0.3s ease 0.1s);
		@include set-transform(rotateY(90deg));
	}
	li {
		position: relative;
		top: 20px;
		@include set-transition(all 0.3s ease 0.1s);
		padding: 0;
		margin: 0;
		opacity: 0.0;
		&:last-child {
			&:after {
				display: none !important;
			}
		}
		&:after {
			content: '';
			width: 25%;
			display: block;
			background: #fff;
			opacity: 0.4;
			height: 1px;
			margin: 0 auto;
		}
		a {
			color: $r-nav-menu-link-color;
			font-size: 21px;
			font-weight: 300;
			line-height: 70px;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
#r-nav-menu.r-nav-menu--open {
	left: 0;
	opacity: 1.0;
	ul {
		@include set-transform(none);
	}
	li {
		top: 0;
		opacity: 1.0;
	}
}
nav.scroll {
	background: #fff;
	height: 90px;
	border-bottom: 1px solid rgba(231,38,61,0.25);
	#nav-line { display: none; }
	#nav-logo { margin-top: 20px; img { top: 0px; } }
	ul { top: 54px;
		@include set-transition(all 0.25s ease 0.2s);
		i { color: rgba(231,38,61,0.6); opacity: 0.0; }
		a { color: lighten($grey,10%); &:hover { color: $grey; } } }
}
nav.r-open {
	ul { top: 70px; opacity: 1.0; visibility: visible; @include set-transform(scale(1.0)); }
}
